<h1>Create a List</h1>

<div class="Container">

<%= simple_form_for @list do |list| %>
  <%= list.input :name, required: true %>
 <button class=" btn btn-primary"> <%= list.button :submit %></button>
<% end %>
</div>
